{% extends 'base.html' %}

{% block title %}About Us
{% endblock title %}

{% block body %} 

<div class="container ">
  <h1 class="my-2 py-5 text-center"><strong><em>ABOUT</em></strong></h1>
  <p><h4><em>Creating a satisfying android application is nowadays something feasible for all, both programmers and non-programmers as well. This happens because developing apps in the Android Studio is one of the most discussed things online and you can find solutions for literally everything. Furthermore, for a non-programmer's case, there are plenty of programs to create applications for Android using simplified programming language, in a much more accessible way for the developer and there are even more programs which use a graphical environment, without the need of coding!<br> 
   <br>Then, what does it take for an android app to be considered successful?
   <br><br>First of all, what the word successful actually means? An Android application would be characterized as successful if it has an amount greater than a hundred thousand downloads. When the application is ready and uploaded on Play Store, advertisement is the primary factor for a successful application.
            But, what should we take into account before the application is completed?
   <br><br>Here is where a Data Scientist comes! Having a large amount of application data of Play Store can be very useful to analyse why and how some applications succeed and others do not. So, the "Google Play Store App" dataset is a very good start to enable you to see things you may have to add or remove in your current developing Android application
</em></h4></p>
  <h1 class="my-2 py-4 text-center"><strong>OUR TEAM</strong></h1>
    
        <div class="row">
          <div class="card mb-3 border-black" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="static/images/dummy.png" class="card-img" alt="...">
              </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Abhishek Mishra</strong></h5>
                    <p class="card-text">
                    Student at MIT ADT University,Pune,India<br>
                    
                    </p>
                    <a href="https://www.linkedin.com/in/abhishek-mishra-7487091b1" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/_falcon_16?igshid=1juo5dkhucpbm" class="card-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
          </div>   
           <div class="card mb-3 border-black" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="static/images/dummy.png" class="card-img" alt="...">
              </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Aditya Solanki</strong></h5>
                    <p class="card-text">
                    Student at MIT ADT University,Pune,India<br>
                    </p>
                    <a href="https://www.linkedin.com/in/aditya-solanki-136619185" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/adityasolanki0918/" class="card-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="card mb-3 border-black" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="static/images/dummy.png" class="card-img" alt="...">
              </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Abhishek Saigiridhari</strong></h5>
                    <p class="card-text">
                    Student at MIT ADT University,Pune,India<br>
                    
                    </p>
                    <a href="https://www.linkedin.com/in/abhishek-saigiridhari-663537139" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/abhisheksaigiridhari?igshid=p0rzf7I74t5" class="card-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
          </div>   
           <div class="card mb-3 border-black" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="static/images/dummy.png" class="card-img" alt="...">
              </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><strong>Aarya Tupe</strong></h5>
                    <p class="card-text">
                    Student at MIT ADT University,Pune,India<br>
                    
                    </p>
                    <a href="https://www.linkedin.com/in/aarya-tupe-a352061a0" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/aarya.tupe007/" class="card-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
</div>

{% endblock body %}